@media (max-width: 576px){
    .container{
        max-width:  100%;
    }
}
@media (min-width: 576px){
    .container{
        max-width:  540px;
    }
}
@media (min-width: 768px){
    .container{
        max-width:  720px;
    }
}
@media (min-width: 992px){
    .container{
        max-width:  960px;
    }
    .grid-1{
        grid-template-columns: 600px 1fr;
    }
}
@media (min-width: 1200px){
    .container{
        max-width:  1140px;
    }
    .grid-1{
        grid-template-columns: 700px 1fr;
    }
}
@media (min-width: 1400px){
    .container{
        max-width:  1140px;

    }
}

@media (max-width: 1200px){
    .info-block-1{
        padding-right: 170px !important;
    }
}
