.poll-box{
    overflow: hidden;
    padding-bottom: 40px;
    --animation-delay: 0.4s;
}
.poll-box .poll-box-container{
    overflow-x: hidden;
}
.poll-box .poll-question{
    position: absolute;
    width: 100%;
}
.poll-box .poll-question.poll-step-active{
    z-index: 1;
}
@keyframes questionHide {
    from { transform: translate(0px); opacity: 1 }
    to { transform: translate(-100%); opacity: 0 }
}
@keyframes questionShow {
    from {
        transform: translate(30%);
        opacity: 0;
    }
    to {
        transform: translate(0);
        opacity: 1;
    }
}
@keyframes pollBarHide {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
.poll-bar-hide{
    animation-name: pollBarHide;
    animation-timing-function: ease-in-out;
    animation-duration: var(--animation-delay);
}
.poll-animation-hide{
    animation-name: questionHide;
    animation-timing-function: ease-in-out;
    animation-duration: var(--animation-delay);
}
.poll-animation-show{
    animation-name: questionShow;
    animation-timing-function: ease-in-out;
    animation-duration: var(--animation-delay);
}
.poll-box .poll-hidden{
    transform: translate(110%);
}
.poll-box .poll-show{
}
.poll-navbar{
    display: grid;
    grid-template-columns: 1fr 90px;
}
.poll-navbar .caption{
    font-size: 10pt;
}

.poll-box .btn_next{
    background-image: url(../../img/arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(180deg);
}
.poll-box .btn_prev{
    background-image: url(../../img/arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.poll-navbar .progress{
    --bs-progress-height: 10px;
}

.callout{
    padding: 1rem;
    border: 1px solid #e9ecef;
    border-left-width: 0.25rem;
    border-radius: 0.25rem;
}
.callout-result{
    border-left-color: #673be6;
}
.poll-result-title{
    text-decoration: none;
    color: var(--color-purple);
}
